
    body {
        background-image: url("acess/bela-praia-tropical-e-mar-com-coqueiro-na-ilha-paradisiaca_74190-2206.avif");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    
      }
      
      img {
        width:40px;
        height:40px;

        
      }
      
      #icone{
        gap: 16px;
        display: flex;
        align-items: center;
        justify-content: center;


      }

#modal {
        flex-direction: column;
        background-size: cover;
        background-color: rgba(255, 255, 255, 0.844);
        height: fit-content;
        width: 50vw;
        border-radius: 8px;  
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
  
  h1 {
    
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

  }
  

  label {
    font-size: 20px;
  color: #000000;

  }

  
  button {
      width: 100px;
      height: 40px;
      border: 3px solid #315cfd;
      border-radius: 8px;
      transition: all 0.4s;
      cursor: pointer;
      background: white;
      font-size: 1.2em;
      font-weight: 550;
      font-family: 'Montserrat', sans-serif;
    }
    
    button:hover {
      background: #315cfd;
      color: white;
      
    }
    
  

  form{
  

  }
   
  #input{
   font-size: 10px;

  }

  #weather {
    margin-top: 20px;
    font-size: 20px;
  }
  
  .summer {
    background-color: #FFE4C4;
    color: #8B0000;
  }
  
  .summer h1 {
    color: #8B0000;
  }
  
  .summer #weather {
    color: #8B0000;
  }
  
  .winter {
    background-color: #D3D3D3;
    color: #000080;
  }
  
  .winter h1 {
    color: #000080;
  }
  
  .winter #weather {
    color: #000080;
  }

  @media (max-device-width:500px){
    #modal{
    flex-direction: column;

    }

  }
  